mixin button(args)
  - var id = args.id ? args.id : ""
  - var href = args.href ? args.href : "#"
  - var _class = args.class ? args.class + " btn w-100" : "btn w-100"
  - var content = args.content ? args.content : ""
  - var link = args.link ? args.link === "true" : false

  if link
    a(
      href=href
      class=_class
      id=id
      target="_blank"
      )
      =content
  else 
    button(
      class=_class
      id=id
    )=content